body{
   font-family: 'Raleway', sans-serif;
}
.topbar{
   background-color: #ddd;
   line-height: 1;
}
.header .menu-top {
   list-style: none;
   margin: 0;
   text-align: right;
   padding-top: 5px;
}
.header .menu-top li {
   list-style: none;
   display: inline;
   font-size: 11px;
}
.header .menu-top li:last-child a {
   border-right: none;
}
.header .menu-top li.divider a {
   border-right: 1px solid #c3c3c3;
}
.header .menu-top li a {
   display: inline-block;
   color: #777777;
   padding: 0px 10px;
   text-decoration: none;
   text-transform: uppercase;
}
.header .menu-top li a:hover {
  color: #333;
}
.demo-block {
   background: #EAEAEA none repeat scroll 0% 0%;
   padding: 1rem;
   margin-bottom: 1rem;
   display: block;
   height: 160px;
   transition: background 200ms ease-in-out 0s;
}
.panel-group {
   margin-bottom: 12px;
}
.well.well-sm a {
   font-size: 16px;
   font-weight: bold;
   text-transform: capitalize;
   text-decoration: none;
   color:#333;
   margin-right: 10px;
}
.footer{
   background-color: #DDD;
   line-height: 1.5;
}
.footer ul {
   margin-top: 10px;
}
.close {
   float: right;
   font-size: 35px;
   font-weight: normal;
   line-height: 1;
   color: #000;
   text-shadow: 0px 1px 0px #FFF;
   opacity: 0.2;
}